<div class="container">
  <h1><%= @topic.title %></h1>

  <% if @posts.count >= 1 %>
    <% @posts.each.with_index(1) do |post, idx| %>
      <% if post.delete_flag == 1 %>
        <% post.name = "削除されました" %>
        <% post.content = "削除されました" %>
        <% post.image_name = nil %>
      <% end %>
      <div class="card">
        <div class="card-header">
          <% if post.delete_flag == 1 %>
            <%= "#{idx}. #{post.name}" %>
          <% else %>
            <%= link_to("#{idx}. #{post.name}", "/users/#{post.user_id}") %>
          <% end %>
          <input type="hidden" name="id" value="<%= post.id %>">
          <% if @current_user && post.user_id == @current_user.id %>
            <%= link_to("削除",
                        "/posts/delete/#{post.id}",
                        {method: "post",
                         data: {confirm: "削除してもよろしいですか？"}, class: "badge badge-secondary float-right"}) %>
          <% end %>
        </div>
        <div class="card-body">
          <%= post.content %><br>
          <% if post.image_name.present? %>
            <%= link_to("/posts/show_image/#{post.id}") do %>
              <img src="<%= post.image_name.url(:thumb) %>"
                 class="img-responsive img-thumbnail">
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <h3>まだ書き込みはありません</h3>
  <% end %>

  <% if @current_user %>
    <div class="card">
      <div class="card-header">
        <h4>新規投稿</h4>
      </div>
        <%= form_tag("/posts/create", {multipart: true}) do %>
          <div class="card-body">
            <div class="form-group">
              名前:<input name="name" class="form-control" value="<%= @current_user.name %>" >
            </div>
            <div class="form-group">
              本文:<textarea name="content" class="form-control"></textarea>
            </div>
            <input type="hidden" name="topic_id" value="<%= @topic.id %>">
            <input type="hidden" name="user_id" value="<%= @current_user.id %>">
            <div class="form-group">画像:<input type="file" name="image_name"></div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" value="投稿">
            </div>
          </div>
        <% end %>
    </div>
  <% end %>
</div>