<div class="container">

  <div class="user">
    <h2><%= @user.name %></h2>
    <p><%= @user.email %></p>
    <% if @user.id == @current_user.id %>
      <%= link_to("編集", "/users/#{@user.id}/edit",
                  {class: "btn btn-primary"}) %>
    <% end %>
  </div>

  <div class="posts">
    <% if @posts.count >= 1 %>
      <ul class="list-group">
        <li class="list-group-item">書き込み一覧</li>
      <% @posts.each do |post| %>
            <li class="list-group-item">
              <%= link_to("削除",
                          "/users/delete_post/#{post.id}",
                          {method: "post",
                           data: {confirm: "削除してもよろしいですか？"},
                           class: "badge badge-secondary float-right"}) %>
              <%= link_to(Topic.find_by(id: post.topic_id).title,
                          "/topics/show/#{post.topic_id}",
                          class: "title") %><br>
              <%= post.name %><br>
              <%= post.content %><br>
              <% if post.image_name.present? %>
                <%= link_to("/posts/show_image/#{post.id}") do %>
                  <img src="<%= post.image_name.url(:thumb) %>"
                       class="img-responsive img-thumbnail">
                <% end %>
              <% end %>
              <input type="hidden" name="id" value="<%= post.id %>">
            </li>
      <% end %>
      </ul>
    <% else %>
      <h3>まだ書き込みはありません</h3>
    <% end %>
  </div>

</div>
